<nav>
    <ul>
      <li><a routerLink="/agent" routerLinkActive="active">Agent</a></li>
      <li><a routerLink="/add-agent" routerLinkActive="active">Dodaj agenta</a></li>
      <li><a routerLink="/tipklijenta" routerLinkActive="active">Tip klijenta i Statistike</a></li>
      <li><a routerLink="/klijent" routerLinkActive="active">Klijent</a></li>
      <li><a routerLink="/add-klijent" routerLinkActive="active">Dodaj klijenta</a></li>
      <li><a routerLink="/angazovanje" routerLinkActive="active">Angažovanje</a></li>  
    </ul>
  </nav>
  
