/* Stilizovanje tabele */
table {
    width: 100%;
    border-collapse: collapse; /* Spaja ivice ćelija da ne bi bilo duplih linija */
  }
  
  /* Stilizovanje zaglavlja tabele */
  th, td {
    border: 1px solid #ddd; /* Svetlosiva ivica */
    padding: 8px; /* Razmak unutar ćelija */
    text-align: left; /* Poravnanje teksta levo */
  }
  
  /* Stilizovanje zaglavlja tabele */
  th {
    background-color: #333; /* Svetlosiva pozadina za zaglavlje */
    font-weight: bold; /* Deblji font za zaglavlje */
    color:white;
  }
  
  /* Stilizovanje redova */
  tr:nth-child(even) {
    background-color: #f9f9f9; /* Svetlosiva pozadina za parne redove */
  }
  
  /* Stilizovanje redova pri prelaženju mišem */
  tr:hover {
    background-color: #f1f1f1; /* Malo tamnija pozadina pri prelaženju mišem */
  }
  
  /* Stilizovanje celija u prvom redu za bolju vidljivost */
  thead th {
    border-bottom: 2px solid #333; /* Tamnija ivica za zaglavlje */
  }
  
  /* Stilizovanje ivica celija */
  td, th {
    border-right: 1px solid #ddd; /* Desna ivica */
  }
  
  td:last-child, th:last-child {
    border-right: none; /* Uklanjanje desne ivice za poslednju kolonu */
  }  